.fundoCadastro {
    background-image: url("https://ik.imagekit.io/vtdzeofuq/fotocadastro2certa.png?updatedAt=1754915950659");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding-right: 1300px;
  }